.container {
  width: 50%;
  padding-top: 40px;
  h3 {
    color: var(--orange-text);
  }

  h1 {
    margin-top: 5px;
    font-size: 40px;
  }

  h2 {
    margin-top: 10px;
    span {
      margin-left: 10px;
      position: relative;
      top: -3px;
      padding: 4px;
      font-size: 15px;
      border-radius: 5px;
      background-color: hsla(26, 100%, 55%, 0.267);
      color: var(--orange-text);
    }
  }

  p {
    margin-top: 15px;
    color: var(--text-gray);
    line-height: 23px;
  }
}
