.container {
  width: 50%;
  margin-top: 10px;

  .checkout-button {
    background-color: var(--orange-text);
  }

  h3 {
    font-size: 15px;
    color: var(--orange-text);
  }

  h1 {
    margin-top: 15px;
    font-size: 45px;
  }

  h2 {
    margin-top: 20px;
    span {
      margin-left: 10px;
      position: relative;
      top: -3px;
      padding: 4px;
      font-size: 15px;
      border-radius: 5px;
      background-color: hsla(26, 100%, 55%, 0.267);
      color: var(--orange-text);
    }
  }

  h4 {
    margin-top: 10px;
    text-decoration: line-through;
    color: var(--text-gray);
  }

  p {
    max-width: 500px;
    margin-top: 25px;
    color: var(--text-gray);
    line-height: 23px;
  }

  .container-buttons {
    display: flex;
    justify-content: start;
    column-gap: 55px;
    margin-top: 25px;

    .button-count-item {
      height: 40px;
      width: 120px;
      border-radius: 5px;
      background-color: hsla(230, 6%, 80%, 0.559);
      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon-minus {
        margin-left: 10px;
        color: var(--orange-text);
        &:hover {
          cursor: pointer;
          scale: (1.1);
        }
      }

      .icon-plus {
        margin-right: 10px;
        color: var(--orange-text);
        &:hover {
          cursor: pointer;
          scale: (1.1);
        }
      }
    }

    .button-add-item {
      text-align: center;
      align-self: center;
      padding: 10px;
      width: 180px;
      border-radius: 5px;
      scale: 1.1;
      background-color: var(--orange-text);
      box-shadow: 4px 2px 38px 7px rgba(255, 125, 26, 0.37);
      color: white;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
