.container {
  min-width: 375px;
  margin-left: 200px;
  margin-right: 200px;
  overflow-x: hidden;

  @media (max-width: 1170px) {
    margin-left: 30px;
    margin-right: 30px;
  }

  @media (max-width: 770px) {
    margin-left: 0;
    margin-right: 0;
  }
}
